.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageFighter {
    height: 500px;
    object-fit: cover;
}

.containerItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 20px;
}

@media (max-width: 768px) {
    .containerItems {
        grid-template-columns: repeat(1, 1fr);
    }
}